@model ActiveViewModel

@{
    ViewData["Title"] = "Active RMAs";
}

<h2 class="text-center">Active RMAs</h2>

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addRMAModal">Add RMA</button>

<table id="RMAtable" class="table">
    <thead>
        <tr>
            <th>RMA Number</th>
            <th>Description</th>
            <th>Date Sent</th>
            <th>Serial Number</th>
            <th>Days Out</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var rma in Model.RMAs)
        {
            <tr>
                <td>@rma.RMANumber</td>
                <td>@rma.Description</td>
                <td>@rma.DateSent.ToString("MM/dd/yyyy")</td>
                <td>@rma.SerialNumber.Serial</td>
                <td>@rma.DaysOut()</td>
                <td><button value="@rma.Id" id="updateRMA" data-toggle="modal" data-target="#updateRMAModal" onclick="javascript:setVal(@rma.Id)" class="btn btn-primary">Update</button></td>
            </tr>
        }
    </tbody>
</table>

<partial name="_AddRMAPartial" />

<div class="modal fade" id="updateRMAModal" tabindex="-1" role="dialog" aria-labelledby="updateRMAModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="updateRMAModalLongTitle">Add RMA</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-action="UpdateRMA">
                    <input asp-for="@Model.RMA.Id" id="rmaId" type="hidden" />
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="@Model.RMA.RMANumber" class="control-label"></label>
                        <input id="rmaNumber" asp-for="@Model.RMA.RMANumber" class="form-control" />
                        <span asp-validation-for="RMA.RMANumber" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.RMA.Description" class="control-label"></label>
                        <input id="rmaDescription" asp-for="@Model.RMA.Description" class="form-control" />
                        <span asp-validation-for="RMA.Description" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Update" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script>
        var rmaId = 0;

        function setVal(value) {
            rmaId = value;
        }

        $(document).ready(function () {
            $("#RMAtable").DataTable();
        });

        $("#partSelect").change(function () {
            var selectedPart = $("#partSelect").val();
            var serialSelect = $("#serialNumberSelect");
            serialSelect.empty();
            console.log(selectedPart);
            $.ajax({
                type: "GET",
                url: "/api/rmas/getserialnumbers/" + selectedPart,
                contentType: "json; charset=utf-8",
                success: function (serialNumbers) {
                    serialSelect.append(new Option("Select Serial Number", 0, true, true));
                    $.each(serialNumbers, function (index, serialNumber) {
                        serialSelect.append(new Option(serialNumber.serial, serialNumber.id, true, true));
                        console.log(serialNumber.id);
                        console.log(serialNumber.serial);
                    });
                    serialSelect.selectpicker('refresh');
                    serialSelect.select(0);
                }
            });
        });

        $('#updateRMAModal').on('shown.bs.modal', function () {
            $.ajax({
                type: "GET",
                url: "/api/rmas/getrma/" + rmaId,
                contentType: "json",
                success: function (response) {
                    $("#rmaNumber").val(response.rmaNumber);
                    $("#rmaDescription").val(response.description);
                    $("#rmaId").val(response.id);
                }
            });
        });
    </script>
}