@model ActiveViewModel

@{
    ViewData["Title"] = "Active RMAs";
    ViewData["ViewName"] = "Active";
}

<h2 class="text-center">Active RMAs</h2>

<button type="button" class="btn btn-primary mb-2" data-toggle="modal" data-target="#addRMAModal">Add RMA</button>

<table id="RMAtable" class="table">
    <thead>
        <tr>
            <th>RMA Number</th>
            <th>Description</th>
            <th>Shipping Vendor</th>
            <th>Tracking Number</th>
            <th>Repair Vendor</th>
            <th>Repair Depot</th>
            <th>Date Sent</th>
            <th>Part Number</th>
            <th>Serial Number Sent</th>
            <th>Days Out</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var rma in Model.RMAs)
        {
            <tr>
                <td>@rma.RMANumber</td>
                <td>@rma.Description</td>
                <td>@rma.ShippingVendor</td>
                <td>@rma.TrackingNumber</td>
                <td>@rma.RepairVendor</td>
                <td>@rma.RepairDepot</td>
                <td>@rma.DateSent.ToString("MM/dd/yyyy")</td>
                <td>@rma.Part.PartNumber</td>
                <td>@rma.SerialNumberSent</td>
                <td>@rma.DaysOut()</td>
                <td>
                    <div class="btn-group">
                        <button value="@rma.Id" id="updateRMA" data-toggle="modal" data-target="#updateRMAModal" onclick="javascript:setVal(@rma.Id)" class="btn btn-primary mr-1 rounded-right">Update</button>
                        <button value="@rma.Id" id="deleteRMA" data-toggle="modal" data-target="#deleteRMAModal" onclick="javascript:setVal(@rma.Id)" class="btn btn-danger rounded-left">Delete</button>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

<partial name="_AddRMAPartial" />

<partial name="_UpdateRMAPartial" />

<partial name="_DeleteRMAPartial" />


@section Scripts{
    <script src="~/js/Active.js"></script>
}