@model ActiveViewModel

@{
    ViewData["Title"] = "Active RMAs";
}

<h2 class="text-center">Active RMAs</h2>

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addRMAModal">Add RMA</button>

<table id="RMAtable" class="table">
    <thead>
        <tr>
            <th>RMA Number</th>
            <th>Description</th>
            <th>Date Sent</th>
            <th>Serial Number</th>
            <th>Days Out</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var rma in Model.RMAs)
        {
            <tr>
                <td>@rma.RMANumber</td>
                <td>@rma.Description</td>
                <td>@rma.DateSent.ToString("MM/dd/yyyy")</td>
                <td>@rma.SerialNumber.Serial</td>
                <td>@rma.DaysOut()</td>
                <td><button value="@rma.Id" id="updateRMA" data-toggle="modal" data-target="#updateRMAModal" onclick="javascript:setVal(@rma.Id)" class="btn btn-primary">Update</button></td>
                <td><button value="@rma.Id" id="deleteRMA" data-toggle="modal" data-target="#deleteRMAModal" onclick="javascript:setVal(@rma.Id)" class="btn btn-danger">Delete</button></td>
            </tr>
        }
    </tbody>
</table>

<partial name="_AddRMAPartial" />

<partial name="_UpdateRMAPartial" />

<partial name="_DeleteRMAPartial" />


@section Scripts{
    <script>
        var rmaId = 0;

        function setVal(value) {
            rmaId = value;
        }

        $(document).ready(function () {
            $("#RMAtable").DataTable();
        });

        $("#partSelect").change(function () {
            var selectedPart = $("#partSelect").val();
            var serialSelect = $("#serialNumberSelect");
            serialSelect.empty();
            console.log(selectedPart);
            $.ajax({
                type: "GET",
                url: "/api/rmas/getserialnumbers/" + selectedPart,
                contentType: "json; charset=utf-8",
                success: function (serialNumbers) {
                    serialSelect.append(new Option("Select Serial Number", 0, true, true));
                    $.each(serialNumbers, function (index, serialNumber) {
                        serialSelect.append(new Option(serialNumber.serial, serialNumber.id, true, true));
                        console.log(serialNumber.id);
                        console.log(serialNumber.serial);
                    });
                    serialSelect.selectpicker('refresh');
                    serialSelect.select(0);
                }
            });
        });

        $('#updateRMAModal').on('shown.bs.modal', function () {
            $.ajax({
                type: "GET",
                url: "/api/rmas/getrma/" + rmaId,
                contentType: "json",
                success: function (response) {
                    console.log(response);
                    $("#updateRMANumber").val(response.rmaNumber);
                    var now = new Date(response.dateSent);
                    console.log(now);
                    var today = now.getFullYear() + '-' + ("0" + (now.getMonth() + 1)).slice(-2) + '-' + ("0" + now.getDate()).slice(-2);
                    console.log(today);
                    $("#updateRMADateSent").val(today);
                    $("#updateRMADescription").val(response.description);
                    $("#updateRMAId").val(response.id);
                    $("#sentSerialNumber").val(response.serialNumber.serial);
                    $("#sentSerialId").val(response.serialNumber.id);
                    $("#sentSerialPartId").val(response.serialNumber.partId);
                    $("#sentSerialRMAId").val(response.serialNumber.rmaId);
                    $("#sentSerialOutForRepair").val(response.serialNumber.outForRepair);
                }
            });
        });

        $('#deleteRMAModal').on('shown.bs.modal', function () {
            $.ajax({
                type: "GET",
                url: "/api/rmas/getrma/" + rmaId,
                contentType: "json",
                success: function (response) {
                    console.log(response);
                    $('#deleteRMAId').val(response.id);
                    $('#rmaIdText').append(response.rmaNumber);
                }
            })
        })
    </script>
}