@model IEnumerable<RMA>

@{
    ViewData["Title"] = "Historical RMAs";
}

<h2 class="text-center">Historical RMAs</h2>

<table id="historicalRMAs" class="table">
    <thead>
        <tr>
            <th>RMANumber</th>
            <th>Description</th>
            <th>Date Sent</th>
            <th>Date Received</th>
            <th>Serial Number</th>
            <th>Days to Completion</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var rma in Model)
        {
            <tr>
                <td>@rma.RMANumber</td>
                <td>@rma.Description</td>
                <td>@rma.DateSent</td>
                <td>@rma.DateReceived</td>
                <td>@rma.SerialNumberReceived</td>
                <td>@rma.DaysToCompletion()</td>
            </tr>

        }
    </tbody>
</table>

@section Scripts{ 
    <script>
        $(document).ready(function () {
            $("#historicalRMAs").DataTable();
        })
    </script>
}