@model InventoryViewModel

@{
    ViewData["Title"] = "Inventory";
}

<h2 class="text-center">Inventory</h2>

<button type="button" class="btn btn-primary mb-2" data-toggle="modal" data-target="#addPartModal">Add Part</button>

<table id="inventoryTable" class="table">
    <thead>
        <tr>
            <th>Part Number</th>
            <th>Part Description</th>
            <th>On Hand</th>
            <th>Out For Repair</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var part in Model.Parts)
        {
            <tr>
                <td>@part.PartNumber</td>
                <td>@part.Description</td>
                <td>@part.QuantityOnHand</td>
                <td>@part.QuantityOutForRepair</td>
                <td>
                    <div class="btn-group">
                        <button value="@part.Id" id="updatePart" data-toggle="modal" data-target="#updatePartModal" onclick="javascript:setVal(@part.Id)" class="btn btn-primary mr-1 rounded-right">Update</button>
                        <button value="@part.Id" id="deletePart" data-toggle="modal" data-target="#deletePartModal" onclick="javascript:setVal(@part.Id)" class="btn btn-danger rounded-left">Delete</button>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="modal fade" id="addPartModal" tabindex="-1" role="dialog" aria-labelledby="addPartModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addPartModalLongTitle">Add Part</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-action="AddPart">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Part.PartNumber" class="control-label"></label>
                        <input asp-for="Part.PartNumber" class="form-control" />
                        <span asp-validation-for="Part.PartNumber" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Part.Description" class="control-label"></label>
                        <input asp-for="Part.Description" class="form-control" />
                        <span asp-validation-for="Part.Description" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Part.QuantityOnHand" class="control-label"></label>
                        <input asp-for="Part.QuantityOnHand" class="form-control" />
                        <span asp-validation-for="Part.QuantityOnHand" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Part.QuantityOutForRepair" class="control-label"></label>
                        <input type="number" asp-for="Part.QuantityOutForRepair" class="form-control" />
                        <span asp-validation-for="Part.QuantityOutForRepair" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="updatePartModal" tabindex="-1" role="dialog" aria-labelledby="updatePartModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="updatePartModalLongTitle">Update Part</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-action="UpdatePart">
                    <input asp-for="Part.Id" id="updatePartId" type="hidden" />
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Part.PartNumber" class="control-label"></label>
                        <input id="updatePartNumber" asp-for="Part.PartNumber" class="form-control" />
                        <span asp-validation-for="Part.PartNumber" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Part.Description" class="control-label"></label>
                        <input id="updatePartDescription" asp-for="Part.Description" class="form-control" />
                        <span asp-validation-for="Part.Description" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Part.QuantityOnHand" class="control-label"></label>
                        <input id="updatePartQuantityOnHand" asp-for="Part.QuantityOnHand" class="form-control" />
                        <span asp-validation-for="Part.QuantityOnHand" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Part.QuantityOutForRepair" class="control-label"></label>
                        <input id="updatePartQuantityOutForRepair" asp-for="Part.QuantityOutForRepair" class="form-control" />
                        <span asp-validation-for="Part.QuantityOutForRepair" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Update" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        var partId = 0;

        function setVal(value) {
            partId = value;
        }

        $(document).ready(function () {
            $("#inventoryTable").DataTable();
        });

        $('#updatePartModal').on('shown.bs.modal', function () {
            $.ajax({
                type: "GET",
                url: "/api/rmas/getpart/" + partId,
                contentType: "json",
                success: function (response) {
                    console.log(response);
                    $("#updatePartId").val(response.id);
                    $("#updatePartNumber").val(response.partNumber);
                    $("#updatePartDescription").val(response.description);
                    $("#updatePartQuantityOnHand").val(response.quantityOnHand);
                    $("#updatePartQuantityOutForRepair").val(response.quantityOutForRepair);
                }
            });
        });
    </script>
}
